.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    display: inline-block;
    width: 100%;
    height: 4rem;


}

li {
    position: relative;
    float: left;
    padding: 2rem 2rem;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
    left: 34rem;
    color: #0A2647;
}

li:active {
    opacity: 0.6;
}

button {
    position: relative;
    float: left;
    cursor: pointer;
    left: 40rem;
    margin-top: 1.9rem;
    width: 6.4rem;
    height: 2rem;
    background-color: #0A2647;
    color: rgb(235, 232, 232);
    border-radius: 10px;

}